h1, h2, h3, h4, h5, h6, p {
	font-family: sans-serif;
}

@font-face {
    font-family: high-lulani;
    src: url('http://www.tinellb.com/Lulani.ttf');
}

h1 {
	font-weight: bold;
	padding-bottom: 0.5em;
	padding-left: 10%;
	font-family: serif;
}

h2 {
	font-family: serif;
	padding-left: 10%;
	font-weight: normal;
	text-decoration: overline;
}

h3 {

	font-weight: normal;
	padding-left: 15%;
	font-size: xx-large;
}

h4 {
	font-family: segoe ui;
	font-weight: normal;
	padding-left: 12%;
	padding-top: 1em;
	font-size: large;
}

h5 {
	font-size: large;
	font-style: normal;
	font-family: serif;
	font-weight: bold;
	padding-left: 10%;
	margin-bottom: 0.5em;
}

h6 {
	line-height: 4;
	text-decoration: overline;
	padding-left: 12%;
	font-variant: small-caps;
	font-family: serif;
	font-size: medium;
	font-weight: normal;
	margin: 0;
}

a {
	color: black;
	text-decoration: none;
}

p {
	padding-left: 15%;
	padding-right: 10%;
	margin: 0;
}

p.example {
	padding-top: 1em;
}

p.search-box {
	padding-top: 2em;
	padding-left: 10%;
}

div.centre {
	text-align: center;
}

div.right a {
	text-align: right;
	margin-right: 1em;
}

div.left a {
	text-align: left;
}

div.justify {
	text-align: center;
	margin-top: 2em;
	margin-bottom: 1em;
	margin-left: 15%;
	letter-spacing: 2em;
	font-weight: bold;
	font-size: large;
}

div.justify a {
	letter-spacing: 0;
}

span.normal {
	letter-spacing: 0;
	text-decoration: underline;
	font-weight: bold;
	color: powderblue;
}

div.nav-header span.normal a {
	color: powderblue;
}

small-caps {
	font-variant: small-caps;
	font-weight: none;
	font-style: normal;
}

overline {
	text-decoration: overline;
}

body {
	background-color: lightslategray;
}

em {
	font-weight: none;
}

div.nav-header {
	text-align: center;
	width: 15%;
	float: left;
	padding-top: 10pt;
	padding-bottom: 10pt;
	color: white;
}

div.nav-header ul {
	padding: 0;
	list-style-type: none;
	list-style-position: inside;
}

div.nav-header a {
	color: white;
	display: block;
}

div.nav-footer {
	padding-top: 10pt;
	padding-bottom: 10pt;
	color: white;
}

div.nav-footer a {
	color: white;
}

div.content {
	width: 80%;
	min-height: 35em;
	padding-top: 2em;
	padding-bottom: 2em;
	margin-left: 15%;
	background-color: lightgoldenrodyellow;
}

div.content a {
	text-decoration: underline;
}

div.toc a {
	text-align: left;
}

td a {
	font-weight: normal;
}

table {
	padding-left: 10%;
}

td {
	text-align: center;
	width: 6em;
	padding: 0;
	font-family: sans-serif;
}

tr:first-child {
	font-weight: bold;
}

td:first-child {
	text-align: right;
	width: 12em;
	font-weight: bold;
}

high-lulani {
	direction: rtl;
	font-family: lulani, high-lulani;
}

high-lulani:before {
	content: "\202e"
}

high-lulani:after {
	content: "\202c"
}

div.jump {
	margin-left: 50%;
}

div.toc {
	-webkit-column-count: 4; /* Chrome, Safari, Opera */
    -moz-column-count: 4; /* Firefox */
    column-count: 4;
}

span.hidden {
	display: none;
	text-decoration: none;
}

h5 div.definition {
	font-style: normal;
	font-size: medium;
	font-family: sans-serif;
	font-weight: normal;
	padding-left: 5%;
	padding-top: 2em;
}

ol {
	padding-left: 15%;
	padding-right: 10%;
	margin:0;
	line-height: 1.5;
}

ol li {
	padding-left: 1%;
	font-family: sans-serif;
}

ul {
	padding-left: 15%;
	padding-right: 10%;
	margin:0;
	line-height: 1.5;
}

ul li {
	padding-left: 1%;
	font-family: sans-serif;
}

li.normal {
	color: powderblue;
	font-weight: bold;
}

li.normal a {
	color: powderblue;
	font-weight: bold;
}

span.dots {
	font-size: xx-large;
}

@media screen and (max-width: 900px) {
	body {
		background-color: lightgoldenrodyellow;
	}

	h1, h2, h3, h4, h5, h6, p {
		padding-left: 0;
		padding-right: 0;
		margin-left: 0;
		margin-right: 0;
	}

	div.flex {
		display: flex;
		flex-direction: column-reverse;
	}

	div.nav-header {
		width: 100%;
		float: none;
		background-color: lightslategray;
	}

	div.nav-header a only{
		color: white;
		display: inline;
		letter-spacing: normal;
	}

	div.content {
		float: none;
		width: 70%;
		margin-left: 5%;
		margin-right: 0%;
	}

	div.toc {
		-webkit-column-count: 3; /* Chrome, Safari, Opera */
		-moz-column-count: 3; /* Firefox */
		column-count: 3;
	}
}

@media screen and (max-width: 700px) {
	div.toc {
		-webkit-column-count: 2; /* Chrome, Safari, Opera */
		-moz-column-count: 2; /* Firefox */
		column-count: 2;
	}

	span.no-space {
		display: block;
	}
}

@media screen and (max-width: 500px) {
	div.toc {
		-webkit-column-count: 1; /* Chrome, Safari, Opera */
		-moz-column-count: 1; /* Firefox */
		column-count: 1;
	}
}
