:root {
	--section-sep: 1.5em;
	--section-margin: max(1ch, 5%);
	--nth-child-sep: 2lh;
}

.ipa {
	font-size: inherit;
}

.faux-ami {
	margin-block-start: var(--section-sep)
}

.faux-ami,
.homophone,
.homograph,
.homonym,
.definition {
	&:not(:nth-child(2)) {
		margin-block-start: var(--nth-child-sep);
	}
}

.homophone,
.homograph,
.homonym,
.definition,
.subsection {
	margin-block-start: var(--section-sep);
	margin-inline-start: var(--section-margin);
}

.subsection,
.subsection details,
.subsection p,
.subsection li {
	margin-inline-start: calc(2 * var(--section-margin));
}

.subsection details p,
.subsection details li {
	margin-inline-start: 0;
}

main .wordlist {
	p,
	details,
	li {
		margin-inline-start: 0;
	}
}

section {
	margin-inline-start: calc(2 * var(--section-margin));
}

h1 {
	/* headword */
	font-family: "gentium plus", serif;
}

h2.language {
	font-family: andika, sans-serif;
}

.native-script p {
	/* Tinellbian script */
	font-size: x-large;
	font-weight: normal;
}


.pronunciation a {
	text-decoration: none;
	color: light-dark(black, white);
	font-weight: normal;
	font-size: larger;
	letter-spacing: 2px;
}

h3.part-of-speech {
	font-family: Garamond, serif;
}

h3.part-of-speech > .derivation {
	&::before {
		content: '(';
	}

	&::after {
		content: ')';
	}
}

h3.part-of-speech a {
	color: light-dark(black, white);
	text-decoration-style: dashed;
	text-underline-offset: 3px;
}

h3.part-of-speech a:hover {
	text-decoration-style: dotted;
}

h3.part-of-speech {
	font-size: large;
	font-family: garamond, serif;
}

.definition p {
	font-size: medium;
	font-family: sans-serif;
	font-weight: normal;
}

.note {
	font-style: italic;

	&::before {
		content: "("
	}

	&::after {
		content: ")"
	}
}


h4.subheading {
	font: normal small-caps large serif;
	text-decoration: overline;
}

input[type='checkbox']#chain,
input[type='checkbox']#chance,
input[type='checkbox']#multi,
input[type='checkbox']#debug {
	display: inline;
}

textarea {
	font-family: "Arial";
}

textarea#rules {
	width: 80%;
	height: 10em;
	font-family: 'lucida sans unicode', 'segoe ui', monospace, sans-serif;
}

textarea#words {
	width: 100%;
	height: 5em;
}

main p {
	font-family: sans-serif;
}

main details {
	margin-block-start: var(--section-sep);
}

main table {
	margin-inline-start: auto;
	margin-inline-end: auto;
	margin-block-start: 1lh;
}

main table td {
	padding: 2px 6px;
}

main table th {
	padding-block-start: 4px;
	padding-block-end: 4px;
}

main input:first-child {
	margin-block-start: 2em;
}

main form.entry {
	margin-block-start: 3lh;
	text-align: center;
}

main ul.list-block {
	list-style: none;
	line-height: 2.2;
	margin-block-start: 2rem;
}