.ipa {
	font-size: inherit;
}

h1 {
	/* headword */
	font-family: "gentium plus", serif;
}

h2.language {
	font-family: andika, sans-serif;
	margin-block-start: 2rem;
}

h2.language:not(:first-of-type) {
	margin-block-start: 4rem;
}


.native-script p {
	/* Tinellbian script */
	font-size: x-large;
	font-weight: normal;
	margin-inline-start: 4%;
}


.pronunciation p {
	margin-inline-start: 7%;
}

.pronunciation a {
	text-decoration: none;
	color: light-dark(black, white);
	font-weight: normal;
	font-size: larger;
	letter-spacing: 2px;
}

h3.part-of-speech a {
	color: light-dark(black, white);
	text-decoration-style: dashed;
	text-underline-offset: 3px;
}

h3.part-of-speech a:hover {
	text-decoration-style: dotted;
}

h3.part-of-speech {
	font-size: large;
	font-family: garamond, serif;
	margin-inline-start: 10%;
	margin-block-end: 0;
	margin-block-start: 1lh;
}

h3.part-of-speech:not(:first-of-type) {
	margin-block-start: 3lh;
}

.definition p {
	font-size: medium;
	font-family: sans-serif;
	font-weight: normal;
	margin-inline-start: 13%;
}

.definition p:first-of-type {
	padding-block-start: 1em;
}

.definition p:last-of-type {
	padding-block-end: 1em;
}

.definition .note {
	font-style: italic;
}

.definition .note::before {
	content: "("
}

.definition .note::after {
	content: ")"
}


h4.subheading {
	font: normal small-caps large serif;
	text-decoration: overline;
	margin-inline-start: 15%;
	margin-block-start: 0;
}

input[type='checkbox']#chain,
input[type='checkbox']#chance,
input[type='checkbox']#multi,
input[type='checkbox']#debug {
	display: inline;
	margin-inline-start: 5em;
}

textarea {
	font-family: "Arial";
}

textarea#rules {
	width: 80%;
	height: 10em;
	font-family: 'lucida sans unicode', 'segoe ui', monospace, sans-serif;
}

textarea#words {
	width: 100%;
	height: 5em;
}

main p,
main summary {
	font-family: sans-serif;
	margin-inline-start: 20%;
	margin-block-start: 0.2rem;
}

main ol.definitions {
	margin-inline-start: 20%;
	margin-block-end: 0;
}

main table {
	margin-inline-start: auto;
	margin-inline-end: auto;
	margin-block-start: 1em;
}

main table td {
	padding: 2px 6px;
}

main table th {
	padding-block-start: 4px;
	padding-block-end: 4px;
}

main input:first-child {
	margin-block-start: 2em;
}

main details p {
	margin-inline-start: calc(20% + 1.5ch);
}

main details + p {
	padding-inline-start: var(--folding-padding);
}

main .wordlist summary {
	margin-inline-start: 0;
}

main .results ol,
main .results ul {
	margin-inline-start: 0;
}

main form#entry {
	margin-block-start: 3lh;
	text-align: center;
}


main .results a {
	text-decoration: none;
}

footer {
	margin-block-start: 1rem;
	font-size: smaller;
	font-family: serif;
	text-align: right;
	width: 75%;
}